@font-face {
    font-family: 'Avenir Light';
    src: url('fonts/Avenir-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Avenir Medium';
    src: url('fonts/Avenir-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Avenir Heavy';
    src: url('fonts/Avenir-Heavy.ttf') format('truetype');
}

html, body {
    font-family: 'Avenir Medium', SansSerif, Arial;
    font-size: 16px;
}
header {
    background-color: #FDE0A0;
    background-image: url("../img/catamera/catamera_bg.png");
    font-size: 4.5rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Avenir Heavy', SansSerif, Arial;

}
header .header-content .header-content-inner h1{
    text-transform: none;
    font-size: 6rem;
    margin-top: 2.6rem;
    text-shadow: 2px 2px rgba(34, 34, 34, 0.1);
}
header .header-content .header-content-inner p{
    color: black;
    font-size: 1.6rem;
    letter-spacing: .11rem;
    margin: 0rem 12rem;
    padding-top: 1rem;
    line-height: 1.5;
}
.cat-details-section{
    background-color: #fff;
}

.cat-details-section h2{
    color: #FFBB00;
    padding: 0 5rem;
    font-size: 2.75rem;
    font-family: 'Avenir Heavy', SansSerif, Arial;
    letter-spacing: 0.1rem;
    line-height: 1.4;
    margin-bottom: 50px;
}
.cat-details-section p{
    color: #000;
    font-size: 1.4rem;
    line-height: 1.68;
    padding: 0;
    font-family: 'Avenir Light', SansSerif, Arial;
    letter-spacing: 0.2px;
}
.cat-details-section em{
    font-style: normal;
}
.cat-features-section{
    background-color: #F2F2F2;
}
.cat-features-section h2{
    font-size: 4.3rem;
    margin-top: 1rem;
    letter-spacing: .1rem;
}
.cat-features-section .service-box{
    background-color: #494949;
    margin: 3.75rem auto 2rem;
    padding: 13px 5px;
    min-height: 27rem;
}
.cat-feature-box .text-center{
    padding: 0 2.5rem;
}
.cat-icon{
    height: 10rem;
    width: 11.25rem;
    background-size: 100%;
    display: block;
    margin: 0 auto;
}
.cat-icon-adapt{
    background-image: url(../img/catamera/icon_radar_gray.png);
}
.cat-icon-launch{
    background-image: url(../img/catamera/icon_rocket_gray.png);
}
.cat-icon-evolve{
    background-image: url(../img/catamera/icon_time_gray.png);
}
.cat-features-section .text-muted{
    font-family: 'Avenir Light', SansSerif, Arial;
    color: #fff;
    font-size: 1rem;
    padding: 0.6rem 3.5rem 1.5rem;
    text-align: inherit;
}
.cat-features-section h3{
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Avenir Medium', SansSerif, Arial;
}
.cat-feature-box{
    padding: 1.25rem 5rem;
}
.btn-secondary, .success-message{
    height: 66px;
    padding: 0 2rem;
    color: #fff;
    font-size: 1.3rem;
    text-transform: none;
    font-family: "Avenir Medium", SansSerif, Arial;
    letter-spacing: 0.14rem;
    border-radius: 0;
    background-color: #FFAF00;
}
#contact .input-group{
    margin-bottom: 2.5rem;
}
#contact input{
    height: 66px;
    border: 2px solid #FFAF00;
    font-size: 1.4rem;
    font-family: 'Avenir Light', SansSerif, Arial;
    padding: 0 20px;
    border-radius: 0;
    line-height: 66px;
}
#contact h2{
    font-family: 'Avenir Medium', SansSerif, Arial;
    letter-spacing:0.05rem;
    margin-bottom: 4.75rem;
    font-size: 1.875rem;
}
.cat-reachus{
    font-size: 1.5rem;
}
a, a:hover{
    color: #FFAF00;
}
footer{
    background-color: #f2f2f2;
    color: #ABAAAB;
    font-size: 1.4rem;
    padding: 20px 80px;
    font-family: 'Avenir Light', SansSerif, Arial;
    line-height: 1.8rem;
    letter-spacing: .06rem;
}
section{
    padding: 5rem 0;
}
.cat-logo{
    margin: 13px auto;
    display: block;
}
.navbar{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.5);
}
textarea:focus, input:focus, .form-control:focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
    outline: none;
}
.cat-finnovatelogo{
    max-width: 10rem;
}
@media (min-width:320px) and (max-width: 640px){
    header{
        margin-top: 60px;
    }
}
@media (min-width:320px) {
    html, body { font-size: 50%;}
    header .header-content .header-content-inner p{
        margin: 0 5rem;
    }
    .cat-features-section h3{
        font-size: 16px;
    }
    .cat-features-section .text-muted{
        font-size: 14px;
    }
}
@media (min-width:641px) {html, body { font-size: 70%;}
    header .header-content .header-content-inner p{
        margin: 0 12rem;
    }
    .cat-features-section h3{
        font-size: 16px;
    }
    .cat-features-section .text-muted{
        font-size: 14px;
    }
}
@media (min-width:961px) {
    html, body { font-size: 90%;}
    .cat-features-section h3{
        font-size: 18px;
    }
    .cat-feature-box{
        display: table;
    }
    .cat-feature-box .row{
        display: table-row;
    }
    .cat-feature-box .text-center{
        display: table-cell;
    }
    .cat-features-section .text-muted{
        font-size: 16px;
    }
}
@media (min-width:961px) and (max-width:1280px){
    .cat-features-section .text-muted{
        padding: 0.6rem 1.5rem 1.5rem;
    }
    .cat-feature-box .text-center{
        padding: 0 10px;
    }
}
@media (min-width:1281px) {
    html, body { font-size: 100%;}
    .cat-features-section h3{
        font-size: 20px;
    }
    .cat-features-section .text-muted{
        font-size: 16px;
    }
}
.success-message{
    display: none;
}
.email-error .btn-secondary{
    background-color: #ff8600;
}
#contact .email-error input{
    border-color: #ff8600;
}
.email-success .success-message{
    display: block;
    line-height: 66px;
    font-family: 'Avenir Light', SansSerif, Arial;
    letter-spacing: 0;
}
.email-success .input-group{
    display: none;
}